# 超级管理员列表
SUPERUSERS=[]

BOT_ID=
BOT_NICKNAME=宵崎奏

# Console 适配器
# 是否启用无头模式，如果为true，则不会启动TUI界面。
CONSOLE_HEADLESS_MODE=true

# Chat Plugin
CHAT_TAVILY_API_KEY=

# Watchdog 配置
WATCHDOG_ENABLED=true
WATCHDOG_PORT=39211
WATCHDOG_SSL_KEY_PATH="assets/watchdog_ssl_key.pem"
WATCHDOG_SSL_CERT_PATH="assets/watchdog_ssl_cert.pem"
WATCHDOG_SECRET=