# Console 适配器
# 是否启用无头模式，如果为false，则不会启动TUI界面。
CONSOLE_HEADLESS_MODE=true

# Chat Plugin
CHAT_TAVILY_API_KEY=
CHAT_BOT_ID=
CHAT_BOT_NICKNAME=宵崎奏

# APIHZ Plugin
# 接口盒子的ID为纯数字，但dotenv本身会去除包裹的括号，然后里面又是json解析的，得用：
# APIHZ_ID="\"1145141919810\""
# 或
# APIHZ_ID='"1145141919810"'
APIHZ_ID='""'
APIHZ_KEY=