SUPERUSERS=["user"]
LOG_LEVEL=DEBUG
# Console 适配器
# 是否启用无头模式，如果为true，则不会启动TUI界面。
CONSOLE_HEADLESS_MODE=false

# Chat Plugin
CHAT__MODEL=
CHAT__PROVIDER='{
    "type": "openai",
    "wire_api": "responses",
    "api_key": "sk-todayisthursdayandvme50ieatkfccrazythursday",
    "base_url": ""
}'
CHAT__TAVILY_API_KEY=tvly-dev-kfccrazythursday

# Fun Plugin
FUN__LOLICON_PROXY=

# Help Plugin
HELP__ONLINE_NOTICE_GROUP_IDS=[875082051]
HELP__NTFY_TOPIC_URL="https://ntfy.sh/your_ntfy_topic"
HELP__LOGIN_QRCODE_FILE_PATH="~/Napcat/opt/QQ/resources/app/app_launcher/napcat/cache/qrcode.png"

# Summary Plugin
SUMMARY__MODEL=
SUMMARY__PROVIDER='{
    "type": "openai",
    "wire_api": "responses",
    "api_key": "sk-todayisthursdayandvme50ieatkfccrazythursday",
    "base_url": ""
}'

# Status Plugin
PS_IGNORE_PARTS=["snap"]

# Watchdog 配置
WATCHDOG__GITHUB_TOKEN=github_pat_todayisthursdayandvme50ieatkfccrazythursday

# RAG 服务端配置
RAG__EMBEDDING_TYPE="openai"
RAG__OPENAI_MODEL="BAAI/bge-m3"
RAG__OPENAI_API_KEY=sk-todayisthursdayandvme50ieatkfccrazythursday
RAG__OPENAI_BASE_URL=